<h2>My WarehouseEntry</h2>

<div>
  <label for="new-hero">WarehouseEntry name: </label>
  <input id="new-hero-name" #heroName />
  <input id="new-hero-quantity" #heroQuantity />

  <!-- (click) passes input value to add() and then clears the input -->
  <button
    type="button"
    class="add-button"
    (click)="
      add(heroName.value, heroQuantity.value);
      heroName.value = '';
      heroQuantity.value = ''
    "
  >
    Dodaj Produkt
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
      {{ hero.quantity }}
    </a>
    <button
      type="button"
      class="delete"
      title="usuń przycisk"
      (click)="delete(hero)"
    >
      Usuń
    </button>
  </li>
</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
